*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex; 
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: #fff;
    border: #333 1px solid;
    box-shadow: 0px 0px 10px #333;
    align-items: center;
}


header h1{
    margin-left: 20px;  
    margin-right: 0;  
    color: #267839;
    font-size: 30px;
}
.logo{
    display: flex;
    align-items: center;
}



header img{
    width: 40px;
    height: 40px;
}

header button{
    background-color: #267839;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    /* height: 20px; */
    display: flex;
}

.link-header:link, .link-header:visited{
    text-decoration: none;
    color: white;
}


#sobre{
    display: flex;
    padding: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#235741, #1C709C);
}



#sobre p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
    
}

#titulo-sobre-1{
    font-size: 60px;
    color: white;
}

#titulo-sobre-2{
    font-size: 55px;
    color: #7EAF96;
}

#sobre img{
    width: 450px;
    border-radius: 12px 12px 12px 12px;
}

#sobre button{

    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-comecar{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}

.link-button-comecar:link, .link-button-comecar:visited{
    text-decoration: none;
    color: #28913f;
}

.button-saiba-mais{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.link-button-saiba:link, .link-button-saiba:visited{
    text-decoration: none;
    color: white;
}

.button-comecar a{
    color: #3a6e33;
}
    
.sobre-texto{
    width: 50%;
}
.sobre-veja{
    width: 550px;
    height: 40px;
    padding: 13px;
    display: flex;
    align-items: left;
    gap: 10px;
}
#historias{
    background-color: dodgerblue;
}

.topo-historias{
    text-align: center
}

.conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.caixa-historias{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    transition: background-color 0.3s ease
}

.caixa-historias :hover   {
    background-color: #edeaea;
    cursor: pointer;
}

#regioes{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.texto-regioes{
    text-align: center;
    padding: 80px;
}

.texto-regioes h2 {
    margin-bottom: 20px;
}


.conjunto-caixas-regioes{
    display: flex;
}

.caixa-regioes{

    width: 340px;
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa-regioes:hover {
  box-shadow: 20px 4px 15px rgba(0,0,0,0.3);
  cursor: pointer;
}

#servicos{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

.texto-servicos{
    text-align: center;
    padding: 80px;
}

.texto-servicos h2 {
    margin-bottom: 20px;
}

.conjunto-caixas-servicos{
    display: flex;
}

.caixa-servicos{

    width: 220px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-historias{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 0.8em;
}

#recursos{
    background-color: #2d6a47;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease,transform 0.3s ease;
    height: 300px;
    text-align: center;
    color: white;
}

#recursos h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

#recursos img{
    color: rgb(155,197,164);
}

#relatos{
    background-color: #e6e9e6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease,transform 0.3s ease;
    height: 600px;
}

.topo-relatos{
    text-align: center;
}



.caixa-relatos{
    display: inline-block;
    width: 300px;
    height: 280px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.caixa-relatos :hover   {
    background-color: #d6d4d4;
    transform: scale(1.1);
    margin: auto;
}

#caixa-final {
    background-color: #a8d8ff;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 60px;
}

#caixa-final button{

    border-radius: 10px;

    cursor: pointer;
    
}

.button-comecar-gratis{
    background-color: #2d6a47;
    padding:8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
}

.link-button-comecar-gratis:link, .link-button-comecar:visited{
    text-decoration: none;
    color: white;
}

.button-falar-com-especialista{
    background-color: white;
    border: 1px solid #3a6a47;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    color: #3a6a47;
}

.link-button-falar-com-especialista:link,.link-button-falar-com-especialista:visited{
    text-decoration: none;
    color: #3a6a47;
}


.texto-caixa-final{
    text-align: center;
}

.texto-caixa-final h2 {
    margin-bottom: 20px;
}

.texto-caixa-final p {
    margin-bottom: 20px;
}