*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex; 
    justify-content: space-between;
    padding: 20px;
    background-color: #e5e5e5;
    color: #fff;
    border: #333 1px solid;
    box-shadow: 0px 0px 10px #333;
    align-items: center;
}


header h1{
    margin-left: 20px;  
    margin-right: 0;  
}
.logo{
    display: flex;
    align-items: center;
}

header img{
    width: 80px;
    height: 80px;
}

header button{
    background-color: #dfdede;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#sobre{
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
    align-items: center;
}

#sobre p{
    margin-top: 30px;
    margin-bottom: 30px;
}

#titulo-sobre-1{
    font-size: 90px;
}

#titulo-sobre-2{
    font-size: 90px;
}

#sobre img{
    width: 600px;
    border-radius: 12px 12px 12px 12px;
}

#sobre button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-comecar{
    background-color: #eceaea;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.button-saiba-mais{
    background-color: #37903f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
    
.sobre-texto{
    width: 50%;
}
.sobre-veja{
    width: 550px;
    height: 40px;
    padding: 13px;
    display: flex;
    align-items: left;
    gap: 10px;
}
#historias{
    background-color: dodgerblue;
}

.topo-historias{
    text-align: center
}

.conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.caixa-historias{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    transition: background-color 0.3s ease
}

.caixa-historias :hover   {
    background-color: #edeaea;
    cursor: pointer;
}

#regioes{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}   

.caixa-regioes{
    display: inline-block;
    width: 340px;
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

#regioes :hover   {
    background-color: #efeded;
    cursor: pointer;
}
.texto-historias{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-size: 0.8em;
}

#recursos{
    background-color: #28913f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease,transform 0.3s ease;
    height: 300px;
}

#relatos{
    background-color: #e6e9e6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s ease,transform 0.3s ease;
    height: 600px;
}

.topo-relatos{
    text-align: center
}

.caixa-recursos{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.caixa-recursos :hover   {
    background-color: #d6d4d4;
    transform: scale(1.1);
    margin: auto;
}

.caixa-relatos{
    display: inline-block;
    width: 300px;
    height: 280px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.caixa-relatos :hover   {
    background-color: #d6d4d4;
    transform: scale(1.1);
    margin: auto;
}
