{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
</head>
<body>
    <header>

    </header>
    <main>
        


    <form method="post">
        {% csrf_token %}
        <div>
            <h2>Formulário de Cadastro</h2>
            <label for="nome">Usuario</label>
            <input id="nome" type="text" placeholder="Name" name="username" required autofocus><br>
            
            <label for="senha">Senha</label>
            <input id="senha" type="password" placeholder="Password" name="password" required><br>
            
            <input id="Enviar" type="submit" value="Enviar">
        
        </div>
        <button><a href="{% url 'index' %}">voltar</a></button>
        {% for k,v in form.errors.items %}
            <!--{{v}}-->
            <p> SENHA OU USUARIOS ERRADOS</p>
        {% endfor %}
    </form>
    </main>
    <footer>
        &copy; Meu site. Todos os direitos reservados.
    </footer>
</body>
</html>